/* Centrar el contenido verticalmente y hacer que el formulario sea responsive */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilos para el formulario */
form {
  text-align: center;
  max-width: 80%;
  margin: 20px auto;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Mensaje alusivo a la descarga de videos */
h1 {
  text-align: center;
}

#description {
  text-align: center;
  color: black;
  margin-bottom: 20px;
}

/* Estilos para el spinner */
.spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Estilos para el spinner circular */
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #000;
  border-color: red transparent red transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
      transform: rotate(0);
  }
  100% {
      transform: rotate(360deg);
  }
}


/* Estilos para el fondo negro */
body {
  background-color: #000;
}

/* Estilos para el contenedor de la tarjeta */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Mínimo de altura para ocupar todo el viewport */
}

/* Estilos para la tarjeta */
.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 90%; /* Cambiado a 90% */
  width: 500px; /* Ancho máximo para pantallas grandes */
  max-height: 80vh; /* Máximo de altura para caber el spinner */
}

/* Hacer la tarjeta responsive */
@media (max-width: 768px) {
  .card {
      width: 95%; /* Cambiado a 95% */
  }
}

/* Estilos para el mensaje */
.modal-message {
  text-align: center;
  font-size: large;
  background-color: #319795;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white; /* Cambiar el color del texto para mayor visibilidad */
}




